.header__right-side {
    width: 50%;
    background-color: var(--color-red);

    display: flex;
    justify-content: flex-end;

    position: relative;
}

@media all and (max-width: 1279px) {
    .header__right-side {
        /* width: calc(660px + (928 - 660)*(100vw - 768px)/(1024 - 768)); */
        width: calc(132px + (640 - 132)*(100vw - 1024px)/(1270 - 1024));
    }
}

@media all and (max-width: 1024px) {
    .header__right-side {
        display: none;;
    }
}