.pro__two {
  grid-area: two;
  object-fit: fill;

  background-color: var(--color-red);

  padding-top: 30px;
  padding-bottom: 110px;
  padding-left: 15.5%;
  padding-right: 8.77%;
}



@media all and (max-width: 1440px) {
  .pro__two {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media all and (max-width: 768px) {
  .pro__two {
    padding-top: 12vw;
    padding-left: 5.33vw;
    padding-right: 5.33vw;
    padding-bottom: 80px;
  }
}
