.place {
    margin: 72px auto 0px;

    /* width: calc(100vw - 2*48px);
    max-width: 984px; */

    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: auto auto;
    grid-row-gap: 60px;
    grid-column-gap: 40px;

    justify-content: center;

    font-family: 'Inter';
}

.place:first-of-type {
    margin-top: 0px;
}
