@import url('../vendor/Inter/inter.css');

@import url('../blocks/button/button.css');

@import url('../blocks/header/header.css');
@import url('../blocks/settings/settings.css');
@import url('../blocks/button-power/button-power.css');
@import url('../blocks/menu/menu.css');
@import url('../blocks/main/main.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/back/back.css');



/* header, nav, main, footer, section, article {
    border: 1px solid blue;
}

div, p, ul, li, h1, h2, h3, h4, img, a {
    border: 1px solid red;
} */





.page {
    color:  var(--color-gray6);

    max-width: 1920px;

    margin: 0px auto;

    position: relative;
}


.link {
    opacity: 1;
    transition: opacity .3s ease;
}
.link:hover {
    opacity: .5;
}